@model IEnumerable<ECommerceApplication.DB.productOrder>


@{
    ViewBag.Title = "Customer - Cart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            Total Price
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Order.id)
            </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @((item.quantity * item.price).ToString())
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Order.id)
                </td>*@
        </tr>
    }

</table>
<a href="/Customer/ClearCart" class="btn btn-danger">Clear Cart</a>
<a href="/Customer/PlaceOrder" class="btn btn-info">Place Order</a>
<span class="text-danger">
    Total ammount: @Model.Select(m => m.quantity * m.price).Sum() Taka.
</span>
